
body {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #669595;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 22px;
}

td {
    vertical-align: top;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: aliceblue;
}


ul li {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    height: 60px;
}

ul li a {
    height: 60px;
    background-color: #333;
    display: block;
    border-left: 5px solid rgb(144, 253, 111);
    border-right: 5px solid rgb(8,96,179);
    padding-left: 15px;
    text-decoration: none;
    color: #bfe1f1;
}


ul li a:hover {
    margin-left: 10px;
    color: #b9b7b7;
    background-color: #eb1741;
    box-shadow: 10px 10px 20px #000;
    transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    -webkit-transform: rotate(4deg);
}


div {
    color: #999997;
    height: 100%;
    width: 100%;
    padding: 20px 10px 2px 40px;
    margin: 10px;
    border: 1px solid #923999;
    background-color: #8a89ba;
    border-radius: 15px;
    border: solid 2px #999999;
    box-shadow: 2px 2px 5px 1px #ccc2c3;
}